@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&display=swap');

body{
    @apply mx-32 h-screen box-border overflow-hidden bg-[url('./img/background.jpg')] bg-cover bg-center;
}
/* Главная страница*/
.ellipse{
    @apply bg-[url('./img/background.jpg')];
}
.img-company{
    @apply bg-[url('./img/people.png')];
}

/* Авторизация */
.form-reg-log{
    @apply min-w-[480px] min-h-[560px] absolute z-10 bg-white/20 border-t-0 border-r-[2px] border-b-[2px] border-l-[1px] border-white rounded-2xl flex flex-row items-center justify-between w-[40vw] h-[80vh];
}
.open-reg{
    @apply mt-7 text-xl;
}
.login-box{
    @apply w-full;
}
.sphere{
    @apply absolute z-0 rounded-full animate-swim-sp;
    background: linear-gradient(180.09deg, rgba(201, 175, 238, 0) 50.1%, rgba(201, 175, 238, 0.9801) 99.92%),
                linear-gradient(90deg, rgba(201, 175, 238, 0) 50.08%, rgba(201, 175, 238, 0.8514) 99.89%),
                linear-gradient(270deg, rgba(201, 175, 238, 0) 49.92%, rgba(201, 175, 238, 0.1881) 74.18%, rgba(201, 175, 238, 0.4257) 100%),
                linear-gradient(360deg, rgba(244, 216, 235, 0.99) 49.9%, rgba(242, 220, 235, 0.99) 100%);
}
.light{
    @apply absolute left-[11%] top-[22%] bg-light blur-xl rounded-full w-32 h-32 z-20;
}
.reflection{
    @apply absolute left-[57%] top-[49%] bg-reflection opacity-50 blur-xl z-10 rounded-full w-12 h-24 skew-y-[-3deg];

}
.shadow{
    @apply absolute left-[50%] top-[26%] z-0 rounded-full w-44 h-44 blur-[30px];
}
.sp-1{
    @apply left-[75vw] top-[40vh] w-60 h-60 blur;
}
.sp-2{
    @apply left-[90vw] top-[15vh] blur-[5px] w-16 h-16;

    .light{
        @apply left-[12%] top-[12%] rounded-full w-16 h-16;
    }
    .reflection{
        @apply left-[52%] top-[42%] rounded-full w-8 h-10;
    }
    .shadow{
        @apply left-[16%] top-[15%] rounded-full w-20 h-20;
    }
}
.sp-3{
    @apply left-[10vw] top-[80vh] blur w-80 h-80;
}
.sp-4{
    @apply w-20 h-20 left-[25vw] top-[45vh] blur-md;
    .light{
        @apply left-[12%] top-[12%] rounded-full w-16 h-16;
    }
    .reflection{
        @apply left-[52%] top-[42%] rounded-full w-8 h-10;
    }
    .shadow{
        @apply left-[16%] top-[15%] rounded-full w-20 h-20;
    }
}
.sp-5{
        @apply w-[32rem] h-[32rem] left-[-5vw] top-[-38vh] blur;
}

.login-box,.reg-box{
    @apply w-full flex flex-col items-center justify-center font-monst;
    h2{
        @apply font-bold text-5xl text-wh-d mb-10 mix-blend-screen;
    }
    buttonRg{
        @apply bg-dark-blue-2 rounded-full border-none p-3 text-white w-[28%] text-2xl font-monst uppercase cursor-pointer;
    }
}
.cont{
    @apply w-full h-[100vh] flex flex-row items-center justify-center;
}

.reg-box{

    .text-box, .combo-box{
        @apply mb-3;
    }
    buttonRg{
        @apply min-w-[180px];
    }
}
.text-box{
    @apply relative w-[60%] mb-7;

    input{
        @apply w-full py-2 text-dark-blue-3 mb-7 border-b-2 border-b-white bg-trans outline-none appearance-none;
    }
    label{
        @apply absolute top-0 left-0 py-2 text-xl text-dark-blue-3 pointer-events-none duration-[0.5s];
    }
    input:focus ~ label,input:not(:placeholder-shown) ~label{
        @apply top-[-20px] left-0 text-sm-blue text-xs;
    }
}
.combo-box{
    @apply relative w-[60%] mb-7 flex justify-center items-center;
    .select-b{
        @apply text-left border-b-2 border-t-0 border-l-0 border-r-0 border-white bg-trans w-full py-2 outline-none mb-5 appearance-none cursor-pointer;
    }
    .icon-select{
        @apply absolute top-1 right-0 flex justify-center items-center flex-col pointer-events-none;
        span{
            @apply text-2xl text-dark-blue-3 pointer-events-none;
        }
    }
    label{
        @apply absolute top-0 left-0 py-2 text-xl text-dark-blue-3 pointer-events-none duration-[0.5s];
    }
    .select-b:focus ~ label, .select-b:not(:placeholder-shown) ~label{
        @apply top-[-20px] left-0 text-sm-blue text-xs;
    }

    .custom-select{
        @apply absolute left-0 top-[2.6rem] bg-white/80 w-full z-40 cursor-pointer;
        .custom-option{
            @apply p-2 text-left font-monst text-base;
            &:hover{
                @apply text-sm-blue  bg-hover-btn-dm/80;
            }

        }
        .line{
            @apply w-[0.1rem] h-10 bg-dark-blue-3 absolute top-0 left-0 hidden;
        }
        .l-2{
            @apply top-[2.5rem];
        }
        .active-option{
            @apply text-dark-blue-3 bg-hover-btn-rect;
            &:hover{
                @apply text-sm-blue bg-hover-btn-rect/90;
            }
            .line{
                @apply block;
            }
        }
    }

}
.leftBar{
    @apply h-screen bg-dark-blue-3 block w-80 absolute top-0 left-0 flex flex-col justify-start items-start pl-20 pt-9 transition-all ease-linear duration-500;
    background: linear-gradient(354.3deg, rgba(255, 255, 255, 0.37) -3.2%, rgba(255, 255, 255, 0.1702) 49.11%, rgba(255, 255, 255, 0.1369) 100%);

    h2,.double-logo{
        @apply font-monst font-black text-5xl;
    }
    .double-logo{
        @apply hidden text-4xl bg-dark-blue-3 text-white w-16 h-16 rounded-xl;
    }
    .leftmenu-btn{
        @apply flex flex-row justify-center items-center mt-8;
        .item{
            @apply cursor-pointer text-dark-blue font-monst ml-4 text-xl transition-all ease-linear duration-500;
        }
        .lm-icon-btn{
            @apply bg-white w-16 h-16 rounded-xl flex flex-row justify-center items-center text-dark-blue shadow-xl cursor-pointer;
            span{
                @apply text-5xl;
            }
        }
        &:hover{
            @apply scale-110;
            .item,.lm-icon-btn{
                @apply text-sm-blue;
            }
            .lm-icon-btn{
                @apply bg-hover-btn-rect;
            }


        }

    }
    .active-lm-btn{
        .item,.lm-icon-btn{
            @apply text-active-btn-t
        }
        .lm-icon-btn{
            @apply bg-active-btn-rect;
        }
    }
}
.hidden-leftBar{
    @apply pl-7 pt-[43px] w-32;
    .leftmenu-btn{
        .item{
            @apply hidden;
        }
    }
    .double-logo{
        @apply flex flex-col justify-center items-center;
    }
    h2{
        @apply hidden;
    }

}

.container{
    @apply absolute w-[72%] left-[20rem];
    .header-mainpg{
        @apply ml-[100px] flex flex-row justify-between mt-9 items-center;
        .navbar{
            @apply flex flex-row font-monst text-2xl;
            .nav-item{
                @apply ml-6 first:ml-0;
                &:hover{
                    @apply text-light-blue;
                }
            }
            .active-item{
                a{
                    @apply underline underline-offset-8 decoration-2;
                }

            }
        }
        .lk-btn{

            .main-lk-btn{
                 @apply flex flex-row items-end;
                .lk-ico{
                    @apply w-14 h-16 rounded-xl bg-dark-blue-3;
                }
                .dropdown-toggle{
                    @apply w-8 h-9 bg-white flex flex-row justify-center items-center rounded-lg ml-[6px] mb-1 border-none outline-none;
                    span{
                        @apply text-3xl;
                    }
                    &:hover{
                        @apply scale-110;
                        span{
                            @apply scale-110 text-sm-blue;
                        }
                    }
                }
            }
            .dropdown-menu{
                @apply flex flex-col items-start bg-white rounded-xl absolute translate-x-[-6rem] translate-y-1 w-48 p-1 pb-4;
                li{
                    @apply pt-2 w-full text-left font-monst text-lg pl-3;
                    &:hover{
                        @apply bg-hover-btn-dm;
                        a{
                            @apply text-sm-blue;
                        }
                    }
                }
            }
            .hidden-dm{
                @apply hidden;
            }
        }

    }
    .parting-block{
        @apply w-full ml-[100px] flex mt-16;
        .text-block{
            @apply w-[50%];
            & > *{
                @apply w-full text-left font-monst;
            }
            h2{
                @apply text-6xl font-extrabold;
            }
            .parting-word{
                @apply text-2xl font-normal mt-5;
            }

        }
        .img-block{
            @apply w-[50%];
            .parting-img{
                @apply bg-contain bg-no-repeat bg-center w-full h-full;
            }
            .admin{
                @apply bg-[url('./img/admin.png')];
            }
            .user{
                @apply bg-[url('./img/user.png')];
            }
        }

    }

}
.big-container{
    @apply left-32 w-[83%] transition-all ease-linear duration-500;
}
.number-b{

    input::-webkit-inner-spin-button {
        @apply appearance-none;

    }
    .icon-inp{
        @apply absolute top-0 right-0 cursor-pointer;
        span{
            @apply text-2xl text-dark-blue-3;
        }
    }
    .ic-2{
        @apply absolute top-4 right-0;
    }
}




